<?xml version="1.0" encoding="UTF-8"?>
<config>
    <!-- XSLT Stylesheet used for the transformation -->
    <xsl>xhtml.xsl</xsl>
    <!-- Extension of Output file -->
    <outputExt>html</outputExt>
    <!-- HttpServletResponse.setContentType -->
    <mimeType>text/html</mimeType>
    <!-- process images -->
    <processImages>false</processImages>
    <!--
        If true files generated with xsl:result-document
        will be written to a zip file,
        standard output will be discarded
    -->
    <zipOutput>false</zipOutput>
</config>